.App {
  text-align: center;
  background: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 400px;
  margin: 10px;
}

.WeatherLogo {
  height: 15vmin;
  pointer-events: none;
}



h1 {
  color: #333;
  margin-bottom: 20px;
}

form {
  display: grid;
  gap: 10px;
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #004cff;
  border-radius: 5px;
  outline: none;
  width: 100%;
}

input[type="text"]:focus {
  border-color: #5904ec;
}

button {
  padding: 10px;
  font-size: 16px;
  border: none;
  background-color: rgb(57, 32, 249);
  color: rgb(20, 136, 244);
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
}

button:hover {
  background-color: rgb(23, 33, 234);
}

.weather-info {
  margin-top: 20px;
  text-align: left;
  border-top: 2px solid #fafcfe;
  padding-top: 5px;
}

.weather-info h2 {
  color: #333;
  margin-bottom: 10px;
}

.weather-info p {
  font-size: 18px;
  margin: 5px;
}

.error {
  color: red;
  font-size: 16px;
  margin-top: 10px;
}
