body {
  font-family: Arial, sans-serif;
  margin: 10px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #71d1e4, #f9f9fb); /* Gradient background */
}

* {
  box-sizing: border-box;
}